<h1>My gadgets</h1>

<div class="row">
<% @gadgets.each do |gadget| %>
  
    
      <div class="span3">

      
        <h4><%= link_to gadget.name, gadget %></h4>
        
      </div>
    <% end %>
 

<div class="pull-right">
<%= link_to 'New Gadget', new_gadget_path, :class =>'btn btn-primary' %>
</div>
</div>
